# Python virtual environment
MLMODEL/venv/

# Python cache
__pycache__/
MLMODEL/__pycache__/

# Jupyter
.ipynb_checkpoints/
MLMODEL/.ipynb_checkpoints/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Environment variables
.env
MLMODEL/.env
insurancefraudfrontend/.env

# React
insurancefraudfrontend/node_modules/
insurancefraudfrontend/dist/

# IDE
.vscode/
.idea/